.aamir-1 {height: 150px;border: solid 2px white; display:inline-block; float:left;}
.aamir-2 {height: 300px;border: solid 2px white; display:inline-block; float:left;}
.aamir-3 {height: 450px;border: solid 2px white; display:inline-block; float:left;}
.aamir {display: inline-block; float:left;}
.bg-cream {background-color:#F7E6AB;}
.bg-red {background-color:#F56D6A;}
.bg-green {background-color:#92C7AE;}
.bg-yellow {background-color:#F6C562;}
